<div class="text-center">
  <h4><%= t('.registered_transactions') %></h4>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div class="row">
        <div class="col-sm-12">
          <table id="table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><%= t('.description') %></th>
                <th><%= t('.transaction_type') %></th>
                <th><%= t('.price_transaction') %></th>
                <th><%= t('.skins') %></th>
                <th><%= t('.price_steam') %></th>
                <th><%= t('.price_paid') %></th>
                <th><%= t('.profit') %></th>
                <th><%= t('.created_at') %></th>
                <th class="no-sort table-buttons">
                  <%= link_to new_admins_transaction_path(@transaction), class: 'btn btn-success btn-circle' do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
                <tr role="row" class="odd">
                  <td><%= formatted_field_capitalize(transaction.description) %></td>
                  <td><%= formatted_field_capitalize(transaction.transaction_type.description) %></td>
                  <td><%= number_to_currency(transaction.price) %></td>
                  <% if transaction.skins.present? %>
                    <td>
                      <% transaction.skins.each do |skin| %>
                        <%= link_to admins_skin_path(skin.id) do %>
                          <li><%= skin.description %> - <%= number_to_currency(skin.price_steam) %></li>
                        <% end %>
                      <% end %>
                    </td>
                  <% else %>
                    <td><%= t('.no_skins') %></td>
                  <% end %>
                  <td><%= number_to_currency(transaction.skins_price_steam) %></td>
                  <td><%= number_to_currency(transaction.skins_price_paid) %></td>
                  <td><%= number_to_currency(transaction.price - transaction.skins_price_paid) %></td>
                  <td><%= l(transaction.created_at.to_datetime, format: :with_full_hour) %></td>
                  <td class="table-buttons">
                    <%= link_to edit_admins_transaction_path(transaction), class: 'btn btn-info btn-circle' do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to admins_transaction_path(transaction), method: :delete, class: 'btn btn-danger btn-circle', data: { confirm: "#{t('.delete_confirm')}: #{formatted_field_capitalize(transaction.description)}?" } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @transactions.empty? %>
            <tr><%= t('.no_transactions') %></tr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $.fn.dataTable.moment('DD/MM/YYYY [às] HH:mm:ss');
    $('#table').DataTable({
      "columnDefs": [{
        "targets": 'no-sort',
        "orderable": false,
      }],
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json",
        "decimal": ",",
        "thousands": "."
      }
    });
  });
</script>
