<div class="text-center">
  <h4><%= t('.new_transaction') %></h4>
</div>
<div class="row card">
  <%= render partial: 'admins/transactions/components/errors.html.erb' %>
  <div class="col-lg-12 m-t-10">
    <%= form_with(model: [:admins, @transaction], local: true) do |form| %>
      <%= render partial: 'admins/transactions/components/form.html.erb',
            locals: { form: form } %>
      <div class="row btn-actions">
        <div class="col-lg-6">
          <%= link_to t('.cancel'), admins_transactions_index_path, class: 'btn btn-danger btn-user btn-block' %>
        </div>
        <div class="col-lg-6">
          <button class="btn btn-success btn-user btn-block">
            <%= t('.create_new') %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>