<div class="container mt-4">
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header"><%= t('.edit_profile') %></div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.label :first_name, class: 'small mb-1' %>
                <%= f.text_field :first_name, class: 'form-control', autofocus: true, autocomplete: "first_name" %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :last_name, class: 'small mb-1' %>
                <%= f.text_field :last_name, class: 'form-control', autofocus: true, autocomplete: "last_name" %>
              </div>
              <div class="form-group col-md-12">
                <%= f.label :nickname, class: 'small mb-1' %>
                <%= f.text_field :nickname, class: 'form-control', autofocus: true, autocomplete: "nickname" %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label('Nova senha') %>
                <%= f.password_field(:password, class: 'form-control form-control-user') %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label(:password_confirmation) %>
                <%= f.password_field(:password_confirmation, class: 'form-control form-control-user') %>
              </div>
              <%= link_to admins_dashboard_index_path, class: 'btn btn-danger btn-user' do %>
                <span><%= t('.cancel') %></span>
              <% end %>
              <button type="button" class="btn btn-primary btn-user" data-toggle="modal" data-target="#modalPassword">
                <%= t('.edit') %>
              </button>
            </div>
            <div class="modal fade" id="modalPassword">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%= t('.confirm_password') %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group col-md-12">
                      <%= f.label(:current_password) %>
                      <%= f.password_field(:current_password, class: 'form-control form-control-user') %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('.cancel') %></button>
                    <%= f.submit 'Confirmar', class: 'btn btn-success' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
