<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-6 bg-gradient-pingo d-none d-lg-block">
          <%= image_tag('logo.png') %>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <% if resource.errors.any? %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <ul>
                  <% resource.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4"><%= t('.new_user') %></h1>
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= form.text_field(:first_name, class: 'form-control form-control-user', placeholder: t('.first_name'), required: true) %>
                </div>
                <div class="col-sm-6">
                  <%= form.text_field(:last_name, class: 'form-control form-control-user', placeholder: t('.last_name'), required: true) %>
                </div>
              </div>
              <div class="form-group">
                <%= form.text_field(:nickname, class: 'form-control form-control-user', placeholder: t('.nickname'), required: true) %>
              </div>
              <div class="form-group">
                <%= form.email_field(:email, class: 'form-control form-control-user', placeholder: t('.email'), required: true) %>
              </div>
              <div class="form-group">
                <%= form.label('+', class: 'static-value-registration') %>
                <%= form.number_field(:ddi, class: 'form-control form-control-user input-ddi', placeholder: t('.ddi')) %>
              </div>
              <div class="form-group">
                <%= form.number_field(:cell_phone, class: 'form-control form-control-user', placeholder: t('.cell_phone')) %>
              </div>
              <div class="col-lg-12 custom-switch text-center">
                <%= form.label(:is_whatsapp) %>?
                <%= form.check_box(:is_whatsapp, class: "custom-control-input", id: "is_whatsapp_switch") %>
                <label class="custom-control-label switch-user" for="is_whatsapp_switch"></label>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= form.password_field(:password, class: 'form-control form-control-user', placeholder: t('.password')) %>
                </div>
                <div class="col-sm-6">
                  <%= form.password_field(:password_confirmation, class: 'form-control form-control-user', placeholder: t('.password_confirmation')) %>
                </div>
              </div>
              <button class="btn btn-primary btn-user btn-block">
                <%= t('.create_new') %>
              </button>
            <% end %>
            <hr>
            <div class="text-center">
              <%= link_to t('.have_account'), new_user_session_path, class: 'small'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
