<div class="text-center mb-4">
  <h4><%= t('.available_skins') %>: <%= @available_skins.count %></h4>
</div>
<%= render partial: 'layouts/filters_skins', locals: { redirect_path: admins_available_skins_index_path } %>
<div class="card shadow mb-4" style="background-color: #1F1F1F;">
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable table-skins">
            <input class="form-control mb-2" id="skins-table" type="text" placeholder="Digite a skin que deseja procurar">
              <thead>
                <tr role="row">
                  <th><%= t('.description') %></th>
                  <th><%= t('.exterior') %></th>
                  <th><%= t('.first_price_steam') %></th>
                  <th><%= t('.price_steam') %></th>
                  <th><%= t('.price_paid') %></th>
                  <th><%= t('.sale_price') %></th>
                  <th><%= t('.steam_account') %></th>
                </tr>
              </thead>
              <tbody id="skins-table">
                <% @skins.each do |skin| %>
                  <tr role="row" class="odd">
                    <td style="color: #<%= skin.description_color %>;">
                      <%= skin.description %>
                    </td>
                    <td><%= skin.exterior %></td>
                    <td><%= number_to_currency(skin.first_price_steam) %></td>
                    <td><%= number_to_currency(skin.price_steam) %></td>
                    <td><%= number_to_currency(skin.price_paid) %></td>
                    <td><%= number_to_currency(skin.sale_price) %></td>
                    <td><%= skin.steam_account.url %></td>
                    <td class="table-buttons">
                      <%= link_to admins_skin_path(skin), class: 'btn btn-dark' do %>
                        <i class="fas fa-eye"></i>
                      <% end %>
                      <%= link_to edit_admins_skin_path(skin), class: 'btn btn-info' do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                      <%= link_to admins_skin_path(skin), method: :delete, class: 'btn btn-danger', data: { confirm: "#{t('.delete_confirm')}: #{skin.description}?" } do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @skins %>
            <% if @skins.empty? %>
              <tr>
                <span class="text-white"><%= t('.no_skins') %></span>
              </tr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
