<div class="col-lg-12">
  <%= form.label(:first_name) %>
  <%= form.text_field(:first_name, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:last_name) %>
  <%= form.text_field(:last_name, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:nickname) %>
  <%= form.text_field(:nickname, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:email) %>
  <%= form.text_field(:email, class: 'form-control form-control-user', required: true, type: :email) %>
</div>
<div class="form-group d-flex">
  <div class="col-lg-3">
    <div class="form-text">
      <%= form.label(:ddi) %>
      <%= form.label('+', class: 'static-value') %>
      <%= form.number_field(:ddi, class: 'form-control form-control-user input-ddi') %>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="form-text">
      <%= form.label(:cell_phone) %>
      <%= form.number_field(:cell_phone, class: 'form-control form-control-user') %>
    </div>
  </div>
</div>
<div class="col-lg-12 custom-switch">
  <%= form.label(:is_whatsapp) %>?
  <%= form.check_box(:is_whatsapp, class: "custom-control-input", id: "is_whatsapp_switch") %>
  <label class="custom-control-label switch-user" for="is_whatsapp_switch"></label>
</div>
<div class="col-lg-12">
  <%= form.label(:password) %>
  <%= form.password_field(:password, class: 'form-control form-control-user') %>
</div>
<div class="col-lg-12">
  <%= form.label(:password_confirmation) %>
  <%= form.password_field(:password_confirmation, class: 'form-control form-control-user') %>
</div>
<% if current_user.present? %>
  <div class="col-lg-12 custom-switch">
    <%= form.label(:is_admin) %>?
    <%= form.check_box(:is_admin, class: "custom-control-input", id: "is_admin_switch") %>
    <label class="custom-control-label switch-user" for="is_admin_switch"></label>
  </div>
<% end %>
