<%= render partial: 'layouts/filters_skins', locals: { redirect_path: market_index_path } %>
<div class="grid-view">
  <% @skins.order(created_at: :desc).each do |skin| %>
    <div class="mb-3 mr-3 market-card">
      <% if skin.expiration_date.present? && time_tradelock_integer(skin.expiration_date).positive? %>
        <div class="tag-available bg-red">
          <%= t('.releases_on') %> <%= time_tradelock(skin.expiration_date) %>
        </div>
      <% else %>
        <div class="tag-available bg-green">
          <%= t('.available') %>
        </div>
      <% end %>
      <% if skin.inspect_url.present? %>
        <a class="btn btn-outline-light btn-sm mt-2 ml-2" href="<%= skin.inspect_url %>">
          <%= t('.inspect_in_game') %>
        </a>
      <% end %>
      <div class="col-lg-12">
        <%= image_tag(skin.image_skin, width: 300) %>
      </div>
      <div class="card-body p-3">
        <% if skin.has_sticker %>
          <div class="market-sticker">
            <% skin.image_sticker.each do |sticker| %>
              <%= image_tag(sticker, width: 65) %>
            <% end %>
          </div>
        <% end %>
        <div class="text-center">
          <% if skin.is_stattrak %>
            <div class="d-inline-flex">
              <%= image_tag('stattrak.png', height: 50) %>
            </div>
          <% end %>
          <% if skin.has_name_tag %>
            <div class="d-inline-flex">
              <%= image_tag('nametag.png', height: 50) %>
            </div>
          <% end %>
        </div>
        <h5 class="card-title font-weight-bold fuchsia-rose-text mb-0 market-description" style="color: #<%= skin.description_color %>;">
          <%= skin.description %>
        </h5>
        <p class="mb-0">
          <% if skin.exterior != 'Nenhum' %>
            <%= skin.exterior %>
          <% end %>
        </p>
        <ul class="list-inline">
          <% if positive_value?(skin.float) %>
            <div>
              <i class="fas fa-arrow-down float-left fs-10" style="margin-left: <%= skin.float * 100 %>%;"></i>
              <div class="progress float-chart"></div>
              <%= t('.float') %>: <%= skin.float %>
            </div>
          <% end %>
        </ul>
        <div class="chili-pepper-text mb-0 market-prices">
          <% if skin.price_steam > skin.price_csmoney %>
            <span class="badge badge-success tag-sale">
              <%= sale_percentage(skin.sale_price, skin.price_steam) %>% OFF
            </span>
          <% else %>
            <span class="badge badge-success tag-sale">
              <%= sale_percentage(skin.sale_price, skin.price_csmoney) %>% OFF
            </span>
          <% end %>
        </div>
        <div class="chili-pepper-text mb-0 market-prices">
          <br>
          <a href="https://api.whatsapp.com/send?phone=<%= skin.steam_account.user.ddi %><%= skin.steam_account.user.cell_phone %>
                   &text=Ol%C3%A1%2C%20fiquei%20interessado%20na%20skin:%20<%= skin.id %> - <%= skin.description %> <%= number_to_currency(skin.price_steam) %>"
             target="_blank" class=" badge badge-dark uppercase" style="float: right; margin-top: 15px;">
            <i class="fab fa-whatsapp" style="font-size: 30px;"></i>
          </a>
          <% if skin.price_steam > skin.price_csmoney %>
            <div>
              <%= image_tag('logo_steam.png', width: 28) %>
              <%= number_to_currency(skin.price_steam) %>
            </div>
          <% else %>
            <div>
              <%= image_tag('logo_csmoney.png', width: 28) %>
              <%= number_to_currency(skin.price_csmoney) %>
            </div>
          <% end %>
          <div>
            <%= image_tag('logo_without_name.png', width: 28) %>
            <%= number_to_currency(skin.sale_price) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @skins %>
