<div class="text-center">
  <h4><%= t('.registered_transaction_types') %></h4>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div class="row">
        <div class="col-sm-12">
          <table id="table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><%= t('.description') %></th>
                <th><%= t('.created_at') %></th>
                <th><%= t('.updated_at') %></th>
                <th class="no-sort table-buttons">
                  <%= link_to new_admins_transaction_type_path(@transaction_type), class: 'btn btn-success btn-circle' do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @transaction_types.each do |transaction| %>
                <tr role="row" class="odd">
                  <td><%= formatted_field_capitalize(transaction.description) %></td>
                  <td><%= l(transaction.created_at.to_datetime, format: :with_full_hour) %></td>
                  <td><%= l(transaction.updated_at.to_datetime, format: :with_full_hour) %></td>
                  <td class="table-buttons">
                    <%= link_to edit_admins_transaction_type_path(transaction), class: 'btn btn-info btn-circle' do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to admins_transaction_type_path(transaction), method: :delete, class: 'btn btn-danger btn-circle', data: { confirm: "#{t('.delete_confirm')}: #{formatted_field_capitalize(transaction.description)}?" } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @transaction_types.empty? %>
            <tr><%= t('.no_transaction_types') %></tr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#table').DataTable({
      "columnDefs": [{
        "targets": 'no-sort',
        "orderable": false,
      }],
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json",
        "decimal": ",",
        "thousands": "."
      }
    });
  });
</script>
