<div class="text-center">
  <h4><%= t('.registered_steam_accounts') %></h4>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div class="row">
        <div class="col-sm-12">
          <table id="table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><%= t('.description') %></th>
                <th><%= t('.steam_id_url') %></th>
                <th><%= t('.steam_id') %></th>
                <th class="no-sort table-buttons">
                  <%= link_to new_admins_steam_account_path(@steam_account), class: 'btn btn-success btn-circle' do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @steam_accounts.each do |steam_account| %>
                <tr role="row" class="odd">
                  <td><%= formatted_field_capitalize(steam_account.description) %></td>
                  <td><%= steam_account.url %></td>
                  <td><%= steam_account.steam_id %></td>
                  <td class="table-buttons">
                    <%= link_to edit_admins_steam_account_path(steam_account), class: 'btn btn-info btn-circle' do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= link_to admins_steam_account_path(steam_account), method: :delete, class: 'btn btn-danger btn-circle', data: { confirm: "#{t('.delete_confirm')}: #{steam_account.url}?" } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#table').DataTable({
      "order": [],
      "columnDefs": [{
        "targets": 'no-sort',
        "orderable": false,
      }],
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json",
        "decimal": ",",
        "thousands": "."
      }
    });
  });
</script>
