<div class="text-center mb-4">
  <h4><%= t('.registered_skins') %>: <%= @skins.count %></h4>
  <%= link_to search_admins_skins_path, class: 'btn btn-dark', method: :get, remote: true do %>
    <%= t('.search_new_items') %>
    <i class="fas fa-refresh"></i>
  <% end %>
  <% if @skins.count.positive? %>
    <%= link_to refresh_skins_admins_skins_path, class: 'btn btn-dark', method: :get, remote: true do %>
      <%= t('.refresh_existing_items') %>
      <i class="fas fa-refresh"></i>
    <% end %>
  <% end %>
</div>
<div class="card shadow mb-4" style="background-color: #1F1F1F;">
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable table-skins">
              <thead>
                <tr role="row">
                  <th><%= sortable 'description', t('.description') %></th>
                  <th><%= sortable 'exterior', t('.exterior') %></th>
                  <th><%= sortable 'first_price_steam', t('.first_price_steam') %></th>
                  <th><%= sortable 'price_steam', t('.price_steam') %></th>
                  <th><%= sortable 'price_paid', t('.price_paid') %></th>
                  <th><%= sortable 'sale_price', t('.sale_price') %></th>
                  <th><%= sortable 'is_available', t('.is_available') %>?</th>
                  <th><%= sortable 'created_at', t('.created_at') %></th>
                </tr>
              </thead>
              <tbody>
                <% @skins.each do |skin| %>
                  <tr role="row" class="odd">
                    <td style="color: #<%= skin.description_color %>;">
                      <%= skin.description %>
                    </td>
                    <td><%= skin.exterior %></td>
                    <td><%= number_to_currency(skin.first_price_steam) %></td>
                    <td><%= number_to_currency(skin.price_steam) %></td>
                    <td><%= number_to_currency(skin.price_paid) %></td>
                    <td><%= number_to_currency(skin.sale_price) %></td>
                    <td><%= translate_boolean(skin.is_available) %></td>
                    <td class="table-buttons">
                      <%= link_to admins_skin_path(skin), class: 'btn btn-dark' do %>
                        <i class="fas fa-eye"></i>
                      <% end %>
                      <%= link_to edit_admins_skin_path(skin), class: 'btn btn-info' do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                      <%= link_to admins_skin_path(skin), method: :delete, class: 'btn btn-danger', data: { confirm: "#{t('.delete_confirm')}: #{skin.description}?" } do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% if @skins.empty? %>
              <tr><%= t('.no_skins') %></tr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
