<div class="text-center mb-4">
  <h4><%= t('.registered_skins') %>: <%= @skins.count %></h4>
  <%= form_with url: search_admins_skins_path, method: :post, class: 'col-md-12 mb-3' do |form| %>
    <%= form.collection_select(:steam_account_id, @steam_accounts, :id, :account_formatted, {include_blank: t('.select_account_to_search')}, { class: 'select2_single form-control', required: true }) %>
    <a class='btn btn-dark text-white col-md-5 mt-1'>
      <i class="fas fa-refresh"></i>
      <%= form.submit(t('.search_new_items'), class: 'btn text-white') %>
    </a>
  <% end %>
  <% if @skins.count.positive? %>
    <%= form_with url: refresh_skins_admins_skins_path, method: :post, class: 'col-md-12 mb-3' do |form| %>
      <%= form.collection_select(:steam_account_id, @steam_accounts, :id, :account_formatted, {include_blank: t('.select_account_to_refresh')}, { class: 'select2_single form-control', required: true }) %>
      <a class='btn btn-dark text-white col-md-5 mt-1'>
        <i class="fas fa-refresh"></i>
        <%= form.submit(t('.refresh_existing_items'), class: 'btn text-white') %>
      </a>
    <% end %>
  <% end %>
</div>
<div class="dropdown">
  <button class="btn btn-dark btn-sm dropdown-toggle mb-2" type="button" data-toggle="dropdown">
    <i class="fas fa-sort-amount-down"></i>
    <%= t('.order_by') %>
  </button>
  <div class="dropdown-menu">
    <div><button class="btn w-100 text-left"><%= sortable('description', t('.description')) %></button></div>
    <div><button class="btn w-100 text-left"><%= sortable('exterior', t('.exterior')) %></button></div>
    <div><button class="btn w-100 text-left"><%= sortable('float', t('.float')) %></button></div>
    <div><button class="btn w-100 text-left"><%= sortable('first_price_steam', t('.first_price_steam')) %></button></div>
    <div><button class="btn w-100 text-left"><%= sortable('price_steam', t('.price_steam')) %></button></div>
    <div><button class="btn w-100 text-left"><%= sortable('price_paid', t('.price_paid')) %></button></div>
    <div><button class="btn w-100 text-left"><%= sortable('sale_price', t('.sale_price')) %></button></div>
    <div><button class="btn w-100 text-left"><%= sortable('is_available', t('.is_available')) %></button></div>
    <div><button class="btn w-100 text-left"><%= sortable('created_at', t('.created_at')) %></button></div>
    <div><button class="btn w-100 text-left"><%= sortable('updated_at', t('.updated_at')) %></button></div>
  </div>
</div>
<div class="card shadow mb-4" style="background-color: #1F1F1F;">
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable table-skins">
              <input class="form-control mb-2" id="skins-table" type="text" placeholder="Digite a skin que deseja procurar">
              <thead>
                <tr role="row">
                  <th><input type="checkbox" id="select-all"/></th>
                  <th><%= t('.description') %></th>
                  <th><%= t('.exterior') %></th>
                  <th><%= t('.first_price_steam') %></th>
                  <th><%= t('.price_steam') %></th>
                  <th><%= t('.price_paid') %></th>
                  <th><%= t('.sale_price') %></th>
                  <th><%= t('.steam_account') %></th>
                  <th><%= t('.is_available') %>?</th>
                </tr>
              </thead>
              <tbody id="skins-table">
                <%= form_tag destroy_multiple_admins_skins_path, method: :delete do %>
                  <% @skins.each do |skin| %>
                    <tr role="row" class="odd">
                      <td><%= check_box_tag "skins[]", skin.id %></td>
                      <td style="color: #<%= skin.description_color %>;">
                        <%= skin.description %>
                      </td>
                      <td><%= skin.exterior %></td>
                      <td><%= number_to_currency(skin.first_price_steam) %></td>
                      <td><%= number_to_currency(skin.price_steam) %></td>
                      <td><%= number_to_currency(skin.price_paid) %></td>
                      <td><%= number_to_currency(skin.sale_price) %></td>
                      <td><%= skin.steam_account.url %></td>
                      <td><%= translate_boolean(skin.is_available) %></td>
                      <td class="table-buttons">
                        <%= link_to admins_skin_path(skin), class: 'btn btn-dark' do %>
                          <i class="fas fa-eye"></i>
                        <% end %>
                        <%= link_to edit_admins_skin_path(skin), class: 'btn btn-info' do %>
                          <i class="fas fa-edit"></i>
                        <% end %>
                        <%= link_to admins_skin_path(skin), method: :delete, class: 'btn btn-danger', data: { confirm: "#{t('.delete_confirm')}: #{skin.description}?" } do %>
                          <i class="fas fa-trash"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <%= submit_tag t('.delete_selected'), class: 'btn btn-danger mb-2', id: 'delete-selected' %>
                <% end %>
              </tbody>
            </table>
            <% if @skins.empty? %>
              <tr>
                <span class="text-white"><%= t('.no_skins') %></span>
              </tr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
