<div class="col-xs-12">
  <%= link_to :back, class: 'col-xs-3 btn btn-secondary btn-user' do %>
    <i class="fas fa-arrow-left"></i>
    <%= t('.back') %>
  <% end %>
</div>
<div class="text-center">
  <h4><%= t('.skin') %>: <%= @skin.description %></h4>
  <%= image_tag(@skin.image_skin) %>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th><%= t('.description') %></th>
                    <td><%= @skin.description %></td>
                  </tr>
                  <tr>
                    <th><%= t('.float') %></th>
                    <td><%= @skin.float %></td>
                  </tr>
                  <tr>
                    <th><%= t('.price_steam') %></th>
                    <td><%= number_to_currency(@skin.price_steam) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.price_csmoney') %></th>
                    <td><%= number_to_currency(@skin.price_csmoney) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.price_paid') %></th>
                    <td><%= number_to_currency(@skin.price_paid) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.sale_price') %></th>
                    <td><%= number_to_currency(@skin.sale_price) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.is_stattrak') %>?</th>
                    <td><%= translate_boolean(@skin.is_stattrak) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.has_sticker') %>?</th>
                    <td><%= translate_boolean(@skin.has_sticker) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.is_available') %>?</th>
                    <td><%= translate_boolean(@skin.is_available) %></td>
                  </tr>
                  <tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
