<div class="col-xs-12">
  <%= link_to :back, class: 'col-xs-3 btn btn-secondary btn-user' do %>
    <i class="fas fa-arrow-left"></i>
    <%= t('.back') %>
  <% end %>
</div>
<div class="text-center mb-4">
  <h4><%= t('.skin') %>: <%= @skin.description %></h4>
  <div class="show-skin">
    <%= image_tag(@skin.image_skin) %>
    <% if @skin.float.positive? %>
      <div>
        <i class="fas fa-arrow-down float-left" style="margin-left: <%= @skin.float * 100 %>%;"></i>
        <div class="progress float-chart"></div>
      </div>
    <% end %>
  </div>
  <% if @skin.has_sticker %>
    <div>
      <% @skin.image_sticker.each do |sticker| %>
        <%= image_tag(sticker) %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <% if @skin.expiration_date.present? && time_tradelock_integer(@skin.expiration_date).positive? %>
                    <tr>
                      <th><%= t('.time_tradelock') %></th>
                      <td><%= time_tradelock(@skin.expiration_date) %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <th><%= t('.full_name') %></th>
                    <td><%= @skin.description %> (<%= @skin.exterior %>)</td>
                  </tr>
                  <tr>
                    <th><%= t('.description') %></th>
                    <td><%= @skin.description %></td>
                  </tr>
                  <tr>
                    <th><%= t('.exterior') %></th>
                    <td><%= @skin.exterior %></td>
                  </tr>
                  <% if @skin.float.positive? %>
                    <tr>
                      <th><%= t('.float') %></th>
                      <td><%= @skin.float %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <th><%= t('.first_price_steam') %></th>
                    <td><%= number_to_currency(@skin.first_price_steam) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.price_steam') %></th>
                    <td><%= number_to_currency(@skin.price_steam) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.price_csmoney') %></th>
                    <td><%= number_to_currency(@skin.price_csmoney) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.price_paid') %></th>
                    <td><%= number_to_currency(@skin.price_paid) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.sale_price') %></th>
                    <td><%= number_to_currency(@skin.sale_price) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.is_stattrak') %>?</th>
                    <td><%= translate_boolean(@skin.is_stattrak) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.has_sticker') %>?</th>
                    <td><%= translate_boolean(@skin.has_sticker) %></td>
                  </tr>
                  <% if @skin.has_sticker %>
                    <tr>
                      <th><%= t('.name_sticker') %></th>
                      <td><%= @skin.name_sticker.join(', ') %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <th><%= t('.is_available') %>?</th>
                    <td><%= translate_boolean(@skin.is_available) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.created_at') %></th>
                    <td><%= l(@skin.created_at, format: '%d/%m/%Y às %H:%M') %></td>
                  </tr>
                  <tr>
                    <th><%= t('.updated_at') %></th>
                    <td><%= l(@skin.updated_at, format: '%d/%m/%Y às %H:%M') %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
