<div class="text-center">
  <h4><%= t('.skin') %>: <%= formatted_field_capitalize(@skin.description) %></h4>
</div>
<div class="col-xs-12">
  <%= link_to :back, class: 'col-xs-3 btn btn-secondary btn-user' do %>
    <i class="fas fa-arrow-left"></i>
    <%= t('.back') %>
  <% end %>
</div>
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th><%= t('.image_skin') %></th>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#skin">
                          <%= t('.view') %>
                        </a>
                        <div id="skin" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title"><%= t('.image_skin') %>: <%= @skin.description %></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>
                              <div class="modal-body">
                                <%= image_tag(@skin.image_skin) %>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-dismiss="modal"><%= t('.close') %></button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <th><%= t('.full_name') %></th>
                    <td>
                      <%= formatted_field_capitalize(@skin.skin_type.description) %> |
                      <%= formatted_field_capitalize(@skin.description) %> -
                      <%= abbreviation(@skin.skin_exterior.description) %>
                    </td>
                  </tr>
                  <tr>
                    <th><%= t('.description') %></th>
                    <td><%= formatted_field_capitalize(@skin.description) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.item_type') %></th>
                    <td><%= formatted_field_capitalize(@skin.item_type.description) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.skin_type') %></th>
                    <td><%= formatted_field_capitalize(@skin.skin_type.description) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.skin_exterior') %></th>
                    <td><%= formatted_field_capitalize(@skin.skin_exterior.description) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.float') %></th>
                    <td><%= @skin.float %></td>
                  </tr>
                  <tr>
                    <th><%= t('.price_steam') %></th>
                    <td><%= number_to_currency(@skin.price_steam) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.price_csmoney') %></th>
                    <td><%= number_to_currency(@skin.price_csmoney) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.price_paid') %></th>
                    <td><%= number_to_currency(@skin.price_paid) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.sale_price') %></th>
                    <td><%= number_to_currency(@skin.sale_price) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.is_stattrak') %>?</th>
                    <td><%= translate_boolean(@skin.is_stattrak) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.has_sticker') %>?</th>
                    <td><%= translate_boolean(@skin.has_sticker) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.is_available') %>?</th>
                    <td><%= translate_boolean(@skin.is_available) %></td>
                  </tr>
                  <tr>
                    <th><%= t('.transaction_type') %></th>
                    <td><%= formatted_field_capitalize(@skin.transaction_type.description) %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
