<h4>
  <%= t('admins.dashboard.index.metrics') %>
</h4>
<div class="col-12 d-inline-flex f-wrap">
  <div class="col-xl-3 col-md-6 mb-4 f-wrap">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              <%= link_to t('admins.dashboard.index.count_users'), admins_users_path, class: 'text-xs font-weight-bold text-primary text-uppercase mb-1' %>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @metric_info[:users].count %></div>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4 f-wrap">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              <%= link_to t('admins.dashboard.index.skins_in_inventory'), admins_skins_index_path, class: 'text-xs font-weight-bold text-warning text-uppercase mb-1' %>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @metric_info[:skins_available].count %></div>
            </div>
          </div>
          <div class="col-auto">
            <div class="svg">
              <%= show_svg('hand-gun.svg') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4 f-wrap">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              <%= link_to t('admins.dashboard.index.available_skins'), admins_skins_index_path, class: 'text-xs font-weight-bold text-success text-uppercase mb-1' %>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @metric_info[:without_tradelock].count %></div>
            </div>
          </div>
          <div class="col-auto">
            <div class="svg">
              <%= show_svg('hand-gun.svg') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4 f-wrap">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
              <%= link_to t('admins.dashboard.index.unavailable_skins'), admins_skins_index_path, class: 'text-xs font-weight-bold text-danger text-uppercase mb-1' %>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @metric_info[:with_tradelock].count %></div>
            </div>
          </div>
          <div class="col-auto">
            <div class="svg">
              <%= show_svg('hand-gun.svg') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
