<div class="col-lg-12">
  <%= form.label(:description) %>
  <%= form.text_field(:description, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:steam_id) %>
  <%= form.number_field(:steam_id, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:url) %>
  <%= form.text_field(:url, class: 'form-control form-control-user', required: true) %>
</div>
<div class="col-lg-12">
  <%= form.label(:user) %></br>
  <%= form.collection_select(:user_id, @users, :id, :full_name, {}, { class: 'select2_single form-control', required: true }) %>
</div>
