<h4>
  <%= t('.metrics') %>
</h4>
<%= render partial: 'admins/dashboard/components/metrics.html.erb' %>
<h4>
  <%= t('.financial') %>
</h4>
<%= render partial: 'admins/dashboard/components/financial.html.erb' %>
<h4>
  <%= t('.transaction') %>
</h4>
<%= render partial: 'admins/dashboard/components/transaction.html.erb' %>
