<h4>
  <%= t('.metrics') %>
</h4>
<div class="col-12 d-inline-flex f-wrap">
  <div class="card bg-success text-white mb-4 col-lg-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-3">
          <div class="text-white-75 small">
            <%= t('.count_users') %>
          </div>
          <div class="text-lg font-weight-bold">
            <%= @metric_info[:users].count %>
          </div>
        </div>
        <i class="fas fa-users fa-tachometer-alt"></i>
      </div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-between">
      <%= link_to t('.view_users'), admins_users_path, class: 'small text-white stretched-link' %>
      <div class="small text-white">
        <svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
          <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="card bg-primary text-white mb-4 col-lg-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-3">
          <div class="text-white-75 small">
            <%= t('.count_skins_available') %>
          </div>
          <div class="text-lg font-weight-bold">
            <%= @metric_info[:skins_available].count %>
          </div>
        </div>
        <div class="svg">
          <%= show_svg('hand-gun.svg') %>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-between">
      <%= link_to t('.view_skins_available'), admins_skins_path, class: 'small text-white stretched-link' %>
      <div class="small text-white">
        <svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="">
          <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="card bg-primary text-white mb-4 col-lg-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-3">
          <div class="text-white-75 small">
            <%= t('.count_skins_without_tradelock') %>
          </div>
          <div class="text-lg font-weight-bold">
            <%= @metric_info[:without_tradelock].count %>
          </div>
        </div>
        <div class="svg">
          <%= show_svg('hand-gun.svg') %>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-primary text-white mb-4 col-lg-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-3">
          <div class="text-white-75 small">
            <%= t('.count_skins_with_tradelock') %>
          </div>
          <div class="text-lg font-weight-bold">
            <%= @metric_info[:with_tradelock].count %>
          </div>
        </div>
        <div class="svg">
          <%= show_svg('hand-gun.svg') %>
        </div>
      </div>
    </div>
  </div>
</div>
<h4>
  <%= t('.financial') %>
</h4>
<div class="col-12 d-inline-flex f-wrap">
  <div class="col-xl-3 col-md-6 mb-4 f-wrap">
    <div class="card border-left-steam shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-steam text-uppercase mb-1">
              <%= t('.price_total_steam') %>
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= number_to_currency(@financial_info[:price_total_steam]) %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-money fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4 f-wrap">
    <div class="card border-left-csmoney shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-csmoney text-uppercase mb-1">
              <%= t('.price_total_csmoney') %>
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= number_to_currency(@financial_info[:price_total_csmoney]) %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-money fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4 f-wrap">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              <%= t('.price_total_paid') %>
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= number_to_currency(@financial_info[:price_total_paid]) %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-money fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4 f-wrap">
    <div class="card border-left-<%= @financial_info[:difference_value].positive? ? 'success' : 'danger' %> shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-<%= @financial_info[:difference_value].positive? ? 'success' : 'danger' %> text-uppercase mb-1">
              <%= t('.difference_value') %>
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= number_to_currency(@financial_info[:difference_value]) %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-money fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
