<p>
  <a class="btn"
     style="background-color: <%= current_user.enterprise.primary_color %>;
            color: <%= current_user.enterprise.secondary_color %>;"
     data-toggle="collapse"
     href="#filter"
     role="button"
     aria-expanded="false"
     aria-controls="filter">
    <i class="fas fa-filter"></i>
    <%= t('.filter') %>
  </a>
</p>
<div class="collapse" id="filter">
  <div class="card card-body mb-2">
    <%= search_form_for @q, url: redirect_path do |f| %>
      <%= f.text_field :description_cont, placeholder: 'Qual skin você está procurando?', class: 'form-control col-md-12 mb-2' %>
      <% if current_page?(admins_skins_index_path) || current_page?(admins_skins_path) %>
        <% @skins.pluck(:is_available).each do |is_available| %>
          <% if is_available %>
            <%= check_box_tag('q[is_available_in][]', is_available) %>
            <%= f.label(:only_available) %><br>
          <% end %>
        <% end %>
      <% end %>
      <% @skins.pluck(:is_stattrak).each do |is_stattrak| %>
        <% if is_stattrak %>
          <%= check_box_tag('q[is_stattrak_in][]', is_stattrak) %>
          <%= f.label('Stattrak') %><br>
        <% end %>
      <% end %>
      <% @skins.pluck(:has_sticker).each do |has_sticker| %>
        <% if has_sticker %>
          <%= check_box_tag('q[has_sticker_in][]', has_sticker) %>
          <%= f.label(:has_sticker) %><br>
        <% end %>
      <% end %>
      <%= f.select :type_weapon_eq, type_weapon_collection, { include_blank: 'Selecione o tipo de arma' }, class: 'form-control col-md-12 mb-1' %>
      <%= f.select :type_skin_eq, type_skin_collection, { include_blank: 'Selecione o tipo de skin' }, class: 'form-control col-md-12 mb-1' %>
      <%= f.select :exterior_eq, exterior_collection, { include_blank: 'Selecione o exterior' }, class: 'form-control col-md-12 mb-1' %>
      <hr>
      <div>
        <%= link_to url_for, class: 'btn btn-secondary' do %>
          <i class="fas fa-broom"></i>
          <%= t('.clear') %>
        <% end %>
        <%= button_tag(class: 'btn btn-dark') do %>
          <i class="fas fa-search"></i>
          <%= t('.search') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
