<% if current_user.nil? %>
  <!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= t('.enterprise_instagram') %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application' %>
      <%= stylesheet_link_tag 'users' %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <%= favicon_link_tag asset_path('favicon.ico') %>
    </head>

    <body>
      <%= yield %>
    </body>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'users' %>
    <% if notice %>
      <script>
        $.bootstrapGrowl('<%= notice %>', {
          type: 'success',
          stackup_spacing: 10,
          width: '100%'
        });
      </script>
    <% end %>
  </html>
<% else %>
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title><%= t('.enterprise_instagram') %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application' %>
      <%= stylesheet_link_tag 'users' %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <%= favicon_link_tag asset_path('favicon.ico') %>
    </head>
    <body id="page-top">
      <div id="wrapper">
        <ul class="navbar-nav bg-gradient-pingo sidebar sidebar-dark accordion" id="accordionSidebar">
          <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <%= image_tag('logo.png', height: 80) %>
          </a>
          <hr class="sidebar-divider my-0">
          <li class="nav-item">
            <%= link_to dashboard_index_path, class: 'nav-link' do %>
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span><%= t('.dashboard') %></span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to market_index_path, class: 'nav-link' do %>
              <i class="fas fa-store"></i>
              <span><%= t('.market') %></span>
            <% end %>
          </li>
          <% if current_user.is_admin %>
            <span class="text-center color-white"><%= t('.admin') %></span>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
              <%= link_to admins_dashboard_index_path, class: 'nav-link' do %>
                <i class="fas fa-dashboard fa-tachometer-alt"></i>
                <span><%= t('.dashboard') %></span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admins_users_index_path, class: 'nav-link' do %>
                <i class="fas fa-users fa-tachometer-alt"></i>
                <span><%= t('.users') %></span>
              <% end %>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                <i class="fas fa-fw fa-list-alt"></i>
                <span><%= t('.categories') %></span>
              </a>
              <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <a>
                    <%= link_to admins_transaction_types_index_path, class: 'collapse-item' do %>
                      <span><%= t('.transaction_types') %></span>
                    <% end %>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to admins_transactions_index_path, class: 'nav-link' do %>
                <i class="fas fa-exchange-alt"></i>
                <span><%= t('.transactions') %></span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admins_skins_index_path, class: 'nav-link' do %>
                <div class="svg">
                  <%= show_svg('hand-gun.svg') %>
                </div>
                <span><%= t('.skins') %></span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admins_available_skins_index_path, class: 'nav-link' do %>
                <div class="svg">
                  <%= show_svg('hand-gun.svg') %>
                </div>
                <span><%= t('.available_skins') %></span>
              <% end %>
            </li>
          <% end %>
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
              <div class="href-class">
                <a href="https://www.instagram.com/pingo.rifas/" target="_blank">
                  <i class="fab fa-instagram fa-2x fa-cog icons-header"></i>
                </a>
                <a href="https://www.twitch.tv/ayslanmarcelino" target="_blank">
                  <i class="fab fa-twitch fa-2x fa-cog icons-header"></i>
                </a>
                <a href="https://chat.whatsapp.com/EU0wmzc8Jy7Gac2XBPKQCn" target="_blank">
                  <i class="fab fa-whatsapp fa-2x fa-cog icons-header"></i>
                </a>
              </div>
              <ul class="navbar-nav ml-auto">
                </li>
                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= image_tag('profile-avatar.png', width: 30, height: 30) %>
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.email %></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                      <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                      <%= t('.my_profile') %>
                    <% end %>
                    <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      <%= t('.exit') %>
                    <% end %>
                  </div>
                </li>
              </ul>
            </nav>
            <div class="container-fluid">
              <%= yield %>
            </div>
          </div>
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span><%= t('.copyright') %> &copy; <a href="https://www.instagram.com/pingo.rifas" target="_blank"> <%= t('.enterprise') %>.</a></span>
                <span><%= t('.developed_by') %>: <a href="https://www.instagram.com/ayslanmarcelino" target="_blank"> <%= t('.developer') %></a></span>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
      <%= javascript_pack_tag 'application' %>
      <%= javascript_include_tag 'users' %>
      <% if notice %>
        <script>
          $.bootstrapGrowl('<%= notice %>', {
            type: 'success',
            stackup_spacing: 10,
            width: '100%'
          });
        </script>
      <% end %>
    </body>
  </html>
<% end %>
