<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">	
		<title>Pingo Rifas e Skins - @pingo.rifas</title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700|" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

		<%= stylesheet_link_tag 'no_login' %>
	</head>
  <% env = ENV['DEPLOY_ENV'].presence || Rails.env %>
  <% if env == 'production' %>
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/60623bea067c2605c0bd7105/1f1vrk3fb';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
  <% end %>
	<body class="slider-collapse" style="background-color: #333333;">
    <%= render partial: 'layouts/components/environment_banner' %>
		<div id="site-content" style="margin-bottom: 10px !important; background-color: 333333;">
			<div class="site-header">
				<div class="container">
          <%= search_form_for @q, url: root_path do |f| %>
            <a href="<%= root_path %>" id="branding">
              <div class="logo-text">
                <%= image_tag('logo.png', height: 100) %>
              </div>
            </a>
            <div class="right-section pull-right">
              <%# <a href="cart.html" class="cart"><i class="icon-cart"></i> 0 items in cart</a> %>
              <% if current_user %>
                <%= link_to market_index_path, class: 'btn' do %>
                  <i class="fas fa-sign-in-alt"></i>
                  <%= current_user.email %>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, class: 'btn' do %>
                  <i class="fas fa-sign-in-alt"></i>
                  Login
                <% end %>
              <% end %>
            </div>
            <div class="search-form">
              <%= f.text_field :description_cont, placeholder: 'Digite sua busca', class: 'form-control col-md-12 mb-2' %>
            </div>
					  <div class="main-navigation">
              <div class="dropdown">
                <button class="btn">Tipo de skin</button>
                <div class="dropdown-content">
                  <% type_skin_collection.each do |type| %>
                    <%= link_to type, q: {type_skin_eq: type} %>
                  <% end %>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn">
                  Tipo de arma
                </button>
                <div class="dropdown-content">
                  <% type_weapon_collection.each do |type| %>
                    <%= link_to type, q: {type_weapon_eq: type} %>
                  <% end %>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn">Exterior</button>
                <div class="dropdown-content">
                  <% exterior_collection.each do |exterior| %>
                    <%= link_to exterior, q: {exterior_eq: exterior} %>
                  <% end %>
                </div>
              </div>
						<div class="mobile-navigation"></div>
					  </div>
          <% end %>
				</div>
			</div>
			<%# <div class="home-slider">
				<ul class="slides">
					<li data-bg-image="dummy/slide-1.jpg">
						<div class="container">
              
						</div>
					</li>
					<li data-bg-image="dummy/slide-2.jpg">
						<div class="container">
							<div class="slide-content">
								<h2 class="slide-title">Kill Zone 3</h2>
								<small class="slide-subtitle">$190.00</small>
								
								<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
								
								<a href="cart.html" class="button">Add to cart</a>
							</div>

							<img src="dummy/game-cover-2.jpg" class="slide-image">
						</div>
					</li>
					<li data-bg-image="dummy/slide-3.jpg">
						<div class="container">
							<div class="slide-content">
								<h2 class="slide-title">Kill Zone 3</h2>
								<small class="slide-subtitle">$190.00</small>
								
								<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
								
								<a href="cart.html" class="button">Add to cart</a>
							</div>

							<img src="dummy/game-cover-3.jpg" class="slide-image">
						</div>
					</li>
				</ul> <!-- .slides -->
			</div> <!-- .home-slider --> %>

      <%= yield %>


			<%# <div class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Information</h3>
								<ul class="no-bullet">
									<li><a href="#">Site map</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</div> <!-- .widget -->
						</div> <!-- column -->
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Consumer Service</h3>
								<ul class="no-bullet">
									<li><a href="#">Secure</a></li>
									<li><a href="#">Shipping &amp; Returns</a></li>
									<li><a href="#">Shipping</a></li>
									<li><a href="#">Orders &amp; Returns</a></li>
									<li><a href="#">Group Sales</a></li>
								</ul>
							</div> <!-- .widget -->
						</div> <!-- column -->
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">My Account</h3>
								<ul class="no-bullet">
									<li><a href="#">Login/Register</a></li>
									<li><a href="#">Settings</a></li>
									<li><a href="#">Cart</a></li>
									<li><a href="#">Order Tracking</a></li>
									<li><a href="#">Logout</a></li>
								</ul>
							</div> <!-- .widget -->
						</div> <!-- column -->
						<div class="col-md-6">
							<div class="widget">
								<h3 class="widget-title">Join our newsletter</h3>
								<form action="#" class="newsletter-form">
									<input type="text" placeholder="Enter your email...">
									<input type="submit" value="Subsribe">
								</form>
							</div> <!-- .widget -->
						</div> <!-- column -->
					</div><!-- .row -->

					<div class="colophon">
						<div class="copy">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
						<div class="social-links square">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</div> <!-- .social-links -->
					</div> <!-- .colophon -->
				</div> <!-- .container -->
			</div> <!-- .site-footer -->
		</div> %>

		<%# <div class="overlay"></div>

		<div class="auth-popup popup">
			<a href="#" class="close"><i class="fa fa-times"></i></a>
			<div class="row">
				<div class="col-md-6">
					<h2 class="section-title">Login</h2>
					<form action="#">
						<input type="text" placeholder="Username...">
						<input type="password" placeholder="Password...">
						<input type="submit" value="Login">
					</form>
				</div> <!-- .column -->
				<div class="col-md-6">
					<h2 class="section-title">Create an account</h2>
					<form action="#">
						<input type="text" placeholder="Username...">
						<input type="text" placeholder="Email address...">
						<input type="submit" value="register">
					</form>
				</div> <!-- .column -->
			</div> <!-- .row -->
		</div> <!-- .auth-popup --> %>

    <%= javascript_include_tag 'no_login' %>
	</body>

</html>