<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">	
		<title>Pingo Rifas e Skins - @pingo.rifas</title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700|" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

		<%= stylesheet_link_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
	</head>
  <% env = ENV['DEPLOY_ENV'].presence || Rails.env %>
  <% if env == 'production' %>
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/60623bea067c2605c0bd7105/1f1vrk3fb';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
  <% end %>
	<body class="slider-collapse" style="background-color: #333333;">
    <%= render partial: 'layouts/components/environment_banner' %>
		<div id="site-content" style="margin-bottom: 10px !important; background-color: #333333;">
			<div class="site-header">
        <%= search_form_for @q, url: root_path do |f| %>
          <a href="<%= root_path %>" id="branding">
            <div class="logo-text">
              <%= image_tag('logo.png', height: 100) %>
            </div>
          </a>
          <div class="right-section pull-right">
            <%# <a href="cart.html" class="cart"><i class="icon-cart"></i> 0 items in cart</a> %>
            <% if current_user %>
              <%= link_to dashboard_index_path, class: 'btn btn-login' do %>
                <i class="fas fa-sign-in-alt"></i>
                <%= current_user.nickname %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path, class: 'btn btn-login' do %>
                <i class="fas fa-sign-in-alt"></i>
                Login
              <% end %>
            <% end %>
          </div>
          <div class="search-form">
            <%= f.text_field :description_cont, placeholder: 'Digite o que você procura', class: 'form-control mb-2' %>
          </div>
          <div class="main-navigation">
            <% if knifes_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('knife.png', height: 30) %>
                  <%= t('.knifes') %>
                  <i class="fas fa-chevron-down" style="font-size: 10px;"></i>
                </button>
                <div class="dropdown-content">
                  <% knifes_collection.each do |knife| %>
                    <%= link_to knife, q: {type_weapon_eq: knife} %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if gloves_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('gloves.png', height: 30) %>
                  <%= t('.gloves') %>
                  <i class="fas fa-chevron-down" style="font-size: 10px;"></i>
                </button>
                <div class="dropdown-content">
                  <% gloves_collection.each do |glove| %>
                    <%= link_to glove, q: {type_weapon_eq: glove} %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if rifles_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('rifle.png', height: 30) %>
                  <%= t('.rifles') %>
                  <i class="fas fa-chevron-down" style="font-size: 10px;"></i>
                </button>
                <div class="dropdown-content">
                  <% rifles_collection.each do |rifle| %>
                    <%= link_to rifle, q: {type_weapon_eq: rifle} %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if pistols_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('pistol.png', height: 30) %>
                  <%= t('.pistols') %>
                  <i class="fas fa-chevron-down" style="font-size: 10px;"></i>
                </button>
                <div class="dropdown-content">
                  <% pistols_collection.each do |pistol| %>
                    <%= link_to pistol, q: {type_weapon_eq: pistol} %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if shotguns_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('shotgun.png', height: 30) %>
                  <%= t('.shotguns') %>
                  <i class="fas fa-chevron-down" style="font-size: 10px;"></i>
                </button>
                <div class="dropdown-content">
                  <% shotguns_collection.each do |shotgun| %>
                    <%= link_to shotgun, q: {type_weapon_eq: shotgun} %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if smgs_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('smg.png', height: 30) %>
                  <%= t('.smgs') %>
                  <i class="fas fa-chevron-down" style="font-size: 10px;"></i>
                </button>
                <div class="dropdown-content">
                  <% smgs_collection.each do |smg| %>
                    <%= link_to smg, q: {type_weapon_eq: smg} %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if stickers_type_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('sticker.png', height: 30) %>
                  <% stickers_type_collection.each do |sticker| %>
                    <%= link_to t('.sticker'), q: {type_skin_eq: sticker} %>
                  <% end %>
                </button>
              </div>
            <% end %>
            <% if agents_type_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('agent.png', height: 30) %>
                  <% agents_type_collection.each do |agent| %>
                    <%= link_to t('.agent'), q: {type_skin_eq: agent} %>
                  <% end %>
                </button>
              </div>
            <% end %>
            <% if music_kits_type_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('music_kit.png', height: 30) %>
                  <% music_kits_type_collection.each do |music_kit| %>
                    <%= link_to t('.music_kit'), q: {type_skin_eq: music_kit} %>
                  <% end %>
                </button>
              </div>
            <% end %>
            <% if graffiti_type_collection.present? %>
              <div class="dropdown">
                <button class="btn menu-items" style="color: #eeeeee">
                  <%= image_tag('graffiti.png', height: 30) %>
                  <% graffiti_type_collection.each do |graffiti| %>
                    <%= link_to t('.graffiti'), q: {type_skin_eq: graffiti} %>
                  <% end %>
                </button>
              </div>
            <% end %>
            <div class="mobile-navigation"></div>
          </div>
        <% end %>
			</div>
			<%# <div class="home-slider">
				<ul class="slides">
					<li data-bg-image="dummy/slide-1.jpg">
						<div class="container">
              
						</div>
					</li>
					<li data-bg-image="dummy/slide-2.jpg">
						<div class="container">
							<div class="slide-content">
								<h2 class="slide-title">Kill Zone 3</h2>
								<small class="slide-subtitle">$190.00</small>
								
								<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
								
								<a href="cart.html" class="button">Add to cart</a>
							</div>

							<img src="dummy/game-cover-2.jpg" class="slide-image">
						</div>
					</li>
					<li data-bg-image="dummy/slide-3.jpg">
						<div class="container">
							<div class="slide-content">
								<h2 class="slide-title">Kill Zone 3</h2>
								<small class="slide-subtitle">$190.00</small>
								
								<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
								
								<a href="cart.html" class="button">Add to cart</a>
							</div>

							<img src="dummy/game-cover-3.jpg" class="slide-image">
						</div>
					</li>
				</ul> <!-- .slides -->
			</div> <!-- .home-slider --> %>

      <%= yield %>


			<%# <div class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Information</h3>
								<ul class="no-bullet">
									<li><a href="#">Site map</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</div> <!-- .widget -->
						</div> <!-- column -->
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Consumer Service</h3>
								<ul class="no-bullet">
									<li><a href="#">Secure</a></li>
									<li><a href="#">Shipping &amp; Returns</a></li>
									<li><a href="#">Shipping</a></li>
									<li><a href="#">Orders &amp; Returns</a></li>
									<li><a href="#">Group Sales</a></li>
								</ul>
							</div> <!-- .widget -->
						</div> <!-- column -->
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">My Account</h3>
								<ul class="no-bullet">
									<li><a href="#">Login/Register</a></li>
									<li><a href="#">Settings</a></li>
									<li><a href="#">Cart</a></li>
									<li><a href="#">Order Tracking</a></li>
									<li><a href="#">Logout</a></li>
								</ul>
							</div> <!-- .widget -->
						</div> <!-- column -->
						<div class="col-md-6">
							<div class="widget">
								<h3 class="widget-title">Join our newsletter</h3>
								<form action="#" class="newsletter-form">
									<input type="text" placeholder="Enter your email...">
									<input type="submit" value="Subsribe">
								</form>
							</div> <!-- .widget -->
						</div> <!-- column -->
					</div><!-- .row -->

					<div class="colophon">
						<div class="copy">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
						<div class="social-links square">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</div> <!-- .social-links -->
					</div> <!-- .colophon -->
				</div> <!-- .container -->
			</div> <!-- .site-footer -->
		</div> %>

		<%# <div class="overlay"></div>

		<div class="auth-popup popup">
			<a href="#" class="close"><i class="fa fa-times"></i></a>
			<div class="row">
				<div class="col-md-6">
					<h2 class="section-title">Login</h2>
					<form action="#">
						<input type="text" placeholder="Username...">
						<input type="password" placeholder="Password...">
						<input type="submit" value="Login">
					</form>
				</div> <!-- .column -->
				<div class="col-md-6">
					<h2 class="section-title">Create an account</h2>
					<form action="#">
						<input type="text" placeholder="Username...">
						<input type="text" placeholder="Email address...">
						<input type="submit" value="register">
					</form>
				</div> <!-- .column -->
			</div> <!-- .row -->
		</div> <!-- .auth-popup --> %>

    <%= javascript_include_tag 'application' %>
	</body>
</html>
